
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-danger">
        <div class="panel-heading" [class.heading]='true'>
                <h3 class="panel-title">List Film</h3>
                <div class="navControl">
                    <div class="boxsearch">
                        <input type="text"  
                        class="form-control" placeholder="Search for Name"
                        [(ngModel)]="nameSearch" [ngModelOptions]="{standalone: true}"
                        (input)="search(nameSearch)">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                    <a [routerLink]="['/addFilm']">
                        <button type="button" class="btn btn-success">
                         Add Film
                        </button>
                     </a>   
                </div>   
        </div>
        <div class="panel-body paginationContainer" >
            
            <table class="table table-bordered table-hover" >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Link</th>
                        <th>Author</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>    
                <tbody *ngIf="movies">
                    
                    <tr *ngFor="let movie of movies;let i=index;" >
                        <ng-container *ngIf="movie.hl;else showHl">
                            <td>{{i+1}}</td>
                            <td  [innerHTML]="txthl"> </td>
                            <td><a [href]='movie.link' target="_blank">{{movie.link | titleCase}}</a></td>
                            <td>{{movie.author | titleCase}}</td>
                            <td [style.text-align]='"center"'>
                                <a [routerLink]="['editFilm',movie._id]" [queryParams]="{page:no}">
                                    <i class="fa fa-pencil" aria-hidden="true" ></i>
                                </a>
                            </td>
                            <td [style.text-align]='"center"'>
                                <i class="fa fa-trash-o" aria-hidden="true" (click)="delFilm(i)" [attr.key]=i></i> 
                            </td>
                        </ng-container>
                        <ng-container #showHl *ngIf="movie.page==no && movie.show && !movie.hl;">
                            <!-- <ng-container *ngIf="i<5 && no == 1 && movie.show" else page2> -->
                            <td>{{i+1}}</td>
                            <!-- <td *ngIf="movie.hl; else hltxt" [innerHTML]="txthl"> </td> -->
                           
                                <td >
                                    {{movie.name | titleCase}}
                                </td>
                            
                            <td><a [href]='movie.link' target="_blank">{{movie.link | titleCase}}</a></td>
                            <td>{{movie.author | titleCase}}</td>
                            <td [style.text-align]='"center"'>
                                <a [routerLink]="['editFilm',movie._id]" [queryParams]="{page:no}">
                                    <i class="fa fa-pencil" aria-hidden="true" ></i>
                                </a>
                            </td>
                            <td [style.text-align]='"center"'>
                                <i class="fa fa-trash-o" aria-hidden="true" (click)="delFilm(i)" [attr.key]=i></i> 
                            </td>
                        </ng-container> 

                   
                    </tr>
                </tbody>
            </table> 
            
            <div class="panel panel-success pagination">
                  <div class="panel-heading">
                        <span (click)="back()">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </span>
                        <ng-container>
                            
                            <span
                                *ngFor="let item of arrayV();let i=index"
                                [style.padding.px]="10"
                                [style.cursor]="'pointer'"
                                (click)="goTo(i)"
                            >
                            <!-- <a [routerLink]="['/editfilm']" [queryParams]="{page:i+1}">{{i+1}}</a> -->
                            {{i+1}}
                            </span>
                        </ng-container>
                        <span (click)="forward()">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </span>
                  </div>
            </div>
            
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <!-- <app-edit-film *ngIf="isShowEditBox&&!isShowAddBox" [isShowEditBox]="isShowEditBox" (isHideEditBox)="getStatusEdit($event)">

    </app-edit-film>
    <app-add-film *ngIf="isShowAddBox" [isShowAddBox]="isShowAddBox" (isHideAddBox)="getStatusAdd($event)">

    </app-add-film> -->
    <router-outlet></router-outlet>
  </div>