

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
    <div class="panel panel-primary">
          <div class="panel-heading">
                <h3 class="panel-title">Reactive Forms</h3>
          </div>
          <div class="panel-body">
            <!-- directive ngSubmit -->
                <form 
                      #frmFilm="ngForm"  
                      autocomplete="false"
                      novalidate="true"
                      (ngSubmit)="onSubmitForm()"
                    >
                    <div class="form-group">
                        <label for="txtUsername">User Name</label>
                        <input 
                            type="text" 
                            class="form-control"    
                            name="txtUsername"
                            #name
                            required
                            [(ngModel)]="userName"
                        >
                        <span class="label label-danger">  
                            {{ frmFilm.controls.txtUsername?.errors | json }}
                        </span>
                        <span class="label label-danger">  
                            {{ name.className }}
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="">Password</label>
                        <input 
                            type="password" 
                            class="form-control" 
                            name="txtPassword"
                            required
                            #Password
                            [(ngModel)] = "password"
                        >
                    </div>
                    <span class="label label-danger">
                        {{ frmFilm.controls.txtPassword?.errors | json }}
                    </span>
                    <div class="form-group">
                        <label for="txtFullname">Full Name</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            autocomplete="false"
                            name="txtFullname"
                            #fullname
                            required minlength="3"
                            [(ngModel)] = "fullName"
                        >
                        <span class="label label-danger">
                            {{ frmFilm.controls.txtFullname?.errors | json }}
                        </span>
                        
                    </div>
                    
                    <span class="label label-success">frmFilm.value</span>
                    <pre>{{ frmFilm.value | json }}</pre>
                    <button type="submit" [disabled]="frmFilm.invalid" class="btn btn-primary">
                            Save
                    </button>
                    <button type="button" class="btn btn-primary" [style.margin-left.px]="20">
                        Reset
                    </button>
                </form>
                
          </div>
    </div>
          
</div>

